/**
 ******************************** brokenPIXEL *******************************
 * @access public
 * @author gnsPLANET, LLC.
 * @version $Id: custom.css, v1.0 2015-08-19 maestro Exp $
 * @location /public/themes/bootstrap/
 *
 * @copyright Copyright (c) 2015, gnsPLANET, LLC.
 ******************************** brokenPIXEL *******************************
 */

/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */
html, body {
    height:100%;
}

body {
    padding-top: 50px; /* body padding for fixed top nav */
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

footer ol, ul {
    padding-left: 0px;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1; /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

/* Footer Styles */
footer {
    margin: 20px 0;
}

footer ul {
    list-style: none;
}

/* Table CSS */
.bs-table::after {
    color: #959595;
    content: "";
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
}
.bs-table {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    border-color: #e5e5e5;
    border-style: solid;
    margin: 0 -15px 15px;
    padding: 15px 15px;
    position: relative;
}
.role-access label {
    min-width: 90px;
    padding-top: 10px;
}
.navbar-brand {
    padding: 6px 0 0;
}
.navbar-brand > img {
    max-width: 100%;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

/* /////////////// Utility Classes //////////////// */
/* Alignment */
.float-right  { float:right; }
.float-left   { float:left; }
.unfloat      { float:none; }
.center       { text-align:center; }
.text-left    { text-align:left; }
.text-right   { text-align:right; }
.align-middle { vertical-align: middle; }
.align-top    { vertical-align: top; }

/* Font Sizes */
.font-size-8  { font-size: 8px; }
.font-size-10 { font-size: 10px; }
.font-size-11 { font-size: 11px; }
.font-size-12 { font-size: 12px; }
.font-size-13 { font-size: 13px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-24 { font-size: 24px; }
.font-size-28 { font-size: 28px; }
.font-size-32 { font-size: 32px; }
.font-size-38 { font-size: 38px; }
.font-size-42 { font-size: 42px; }
.font-size-56 { font-size: 56px; }
.font-size-64 { font-size: 64px; }

/* Font Weight */
.font-weight-bold    { font-weight: bold; }
.font-weight-bolder  { font-weight: bolder; }
.font-weight-lighter { font-weight: lighter; }
.font-weight-normal  { font-weight: normal; }
.font-weight-100     { font-weight: 100; }
.font-weight-200     { font-weight: 200; }
.font-weight-300     { font-weight: 300; }
.font-weight-400     { font-weight: 400; }
.font-weight-500     { font-weight: 500; }
.font-weight-600     { font-weight: 600; }
.font-weight-700     { font-weight: 700; }
.font-weight-800     { font-weight: 800; }
.font-weight-900     { font-weight: 900; }

/* Width */
.width-1   { width: 1px; }
.width-3   { width: 3px; }
.width-5   { width: 5px; }
.width-10  { width: 10px; }
.width-15  { width: 15px; }
.width-20  { width: 20px; }
.width-25  { width: 25px; }
.width-30  { width: 30px; }
.width-50  { width: 50px; }
.width-75  { width: 75px; }
.width-100 { width: 100px; }
.width-150 { width: 150px; }
.width-200 { width: 200px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }
.width-500 { width: 500px; }

/* Height */
.height-1   { height: 1px; }
.height-3   { height: 3px; }
.height-5   { height: 5px; }
.height-10  { height: 10px; }
.height-15  { height: 15px; }
.height-20  { height: 20px; }
.height-25  { height: 25px; }
.height-30  { height: 30px; }
.height-50  { height: 50px; }
.height-75  { height: 75px; }
.height-100 { height: 100px; }
.height-150 { height: 150px; }
.height-200 { height: 200px; }
.height-250 { height: 250px; }
.height-300 { height: 300px; }
.height-500 { height: 500px; }

/* Margins */
.margin-0         { margin: 0; }
.margin-1         { margin: 1px; }
.margin-3         { margin: 3px; }
.margin-5         { margin: 5px; }
.margin-10        { margin: 10px; }
.margin-15        { margin: 15px; }
.margin-20        { margin: 20px; }
.margin-25        { margin: 25px; }
.margin-30        { margin: 30px; }
.margin-top-0     { margin-top: 0; }
.margin-top-1     { margin-top: 1px; }
.margin-top-3     { margin-top: 3px; }
.margin-top-5     { margin-top: 5px; }
.margin-top-10    { margin-top: 10px; }
.margin-top-15    { margin-top: 15px; }
.margin-top-20    { margin-top: 20px; }
.margin-top-25    { margin-top: 25px; }
.margin-top-30    { margin-top: 30px; }
.margin-right-0   { margin-right: 0; }
.margin-right-1   { margin-right: 1px; }
.margin-right-3   { margin-right: 3px; }
.margin-right-5   { margin-right: 5px; }
.margin-right-10  { margin-right: 10px; }
.margin-right-15  { margin-right: 15px; }
.margin-right-20  { margin-right: 20px; }
.margin-right-25  { margin-right: 25px; }
.margin-right-30  { margin-right: 30px; }
.margin-bottom-0  { margin-bottom: 0; }
.margin-bottom-1  { margin-bottom: 3px; }
.margin-bottom-3  { margin-bottom: 3px; }
.margin-bottom-5  { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-left-0    { margin-left: 0; }
.margin-left-1    { margin-left: 1px; }
.margin-left-3    { margin-left: 3px; }
.margin-left-5    { margin-left: 5px; }
.margin-left-10   { margin-left: 10px; }
.margin-left-15   { margin-left: 15px; }
.margin-left-20   { margin-left: 20px; }
.margin-left-25   { margin-left: 25px; }
.margin-left-30   { margin-left: 30px; }

/* Negative Margins */
.neg-margin-1         { margin: -1px; }
.neg-margin-3         { margin: -3px; }
.neg-margin-5         { margin: -5px; }
.neg-margin-10        { margin: -10px; }
.neg-margin-15        { margin: -15px; }
.neg-margin-20        { margin: -20px; }
.neg-margin-25        { margin: -25px; }
.neg-margin-30        { margin: -30px; }
.neg-margin-top-1     { margin-top: -1px; }
.neg-margin-top-3     { margin-top: -3px; }
.neg-margin-top-5     { margin-top: -5px; }
.neg-margin-top-10    { margin-top: -10px; }
.neg-margin-top-15    { margin-top: -15px; }
.neg-margin-top-20    { margin-top: -20px; }
.neg-margin-top-25    { margin-top: -25px; }
.neg-margin-top-30    { margin-top: -30px; }
.neg-margin-right-1   { margin-right: -1px; }
.neg-margin-right-3   { margin-right: -3px; }
.neg-margin-right-5   { margin-right: -5px; }
.neg-margin-right-10  { margin-right: -10px; }
.neg-margin-right-15  { margin-right: -15px; }
.neg-margin-right-20  { margin-right: -20px; }
.neg-margin-right-25  { margin-right: -25px; }
.neg-margin-right-30  { margin-right: -30px; }
.neg-margin-bottom-1  { margin-bottom: -1px; }
.neg-margin-bottom-3  { margin-bottom: -3px; }
.neg-margin-bottom-5  { margin-bottom: -5px; }
.neg-margin-bottom-10 { margin-bottom: -10px; }
.neg-margin-bottom-15 { margin-bottom: -15px; }
.neg-margin-bottom-20 { margin-bottom: -20px; }
.neg-margin-bottom-25 { margin-bottom: -25px; }
.neg-margin-bottom-30 { margin-bottom: -30px; }
.neg-margin-left-1    { margin-left: -1px; }
.neg-margin-left-3    { margin-left: -3px; }
.neg-margin-left-5    { margin-left: -5px; }
.neg-margin-left-10   { margin-left: -10px; }
.neg-margin-left-15   { margin-left: -15px; }
.neg-margin-left-20   { margin-left: -20px; }
.neg-margin-left-25   { margin-left: -25px; }
.neg-margin-left-30   { margin-left: -30px; }

/* Padding */
.padding-0         { padding: 0; }
.padding-5         { padding: 5px; }
.padding-10        { padding: 10px; }
.padding-15        { padding: 15px; }
.padding-20        { padding: 20px; }
.padding-25        { padding: 25px; }
.padding-30        { padding: 30px; }
.padding-top-0     { padding-top: 0; }
.padding-top-5     { padding-top: 5px; }
.padding-top-10    { padding-top: 10px; }
.padding-top-15    { padding-top: 15px; }
.padding-top-20    { padding-top: 20px; }
.padding-top-25    { padding-top: 25px; }
.padding-top-30    { padding-top: 30px; }
.padding-right-0   { padding-right: 0; }
.padding-right-5   { padding-right: 5px; }
.padding-right-10  { padding-right: 10px; }
.padding-right-15  { padding-right: 15px; }
.padding-right-20  { padding-right: 20px; }
.padding-right-25  { padding-right: 25px; }
.padding-right-30  { padding-right: 30px; }
.padding-bottom-0  { padding-bottom: 0; }
.padding-bottom-5  { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-15 { padding-bottom: 15px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-25 { padding-bottom: 25px; }
.padding-bottom-30 { padding-bottom: 30px; }
.padding-left-0    { padding-left: 0; }
.padding-left-5    { padding-left: 5px; }
.padding-left-10   { padding-left: 10px; }
.padding-left-15   { padding-left: 15px; }
.padding-left-20   { padding-left: 20px; }
.padding-left-25   { padding-left: 25px; }
.padding-left-30   { padding-left: 30px; }

/* Color */
.color-black    { color: #000000; }
.color-darkgrey { color: #222222; }
.color-grey     { color: #aaaaaa; }
.color-silver   { color: #dddddd; }
.color-white    { color: #ffffff; }
.color-aqua     { color: #7fdbff; }
.color-blue     { color: #0074d9; }
.color-navy     { color: #001f3f; }
.color-teal     { color: #39cccc; }
.color-green    { color: #2ecc40; }
.color-olive    { color: #3d9970; }
.color-lime     { color: #01ff70; }
.color-yellow   { color: #ffdc00; }
.color-orange   { color: #ff851b; }
.color-red      { color: #ff4136; }
.color-fuchsia  { color: #f012be; }
.color-purple   { color: #b10dc9; }
.color-maroon   { color: #85144b; }

/* Background Color */
.background-black     { background-color: #000000; }
.background-darkgrey  { background-color: #222222; }
.background-grey      { background-color: #aaaaaa; }
.background-lightgrey { background-color: #f5f5f5; }
.background-silver    { background-color: #dddddd; }
.background-white     { background-color: #ffffff; }
.background-aqua      { background-color: #7fdbff; }
.background-blue      { background-color: #0074d9; }
.background-navy      { background-color: #001f3f; }
.background-teal      { background-color: #39cccc; }
.background-green     { background-color: #2ecc40; }
.background-olive     { background-color: #3d9970; }
.background-lime      { background-color: #01ff70; }
.background-yellow    { background-color: #ffdc00; }
.background-orange    { background-color: #ff851b; }
.background-red       { background-color: #ff4136; }
.background-fuchsia   { background-color: #f012be; }
.background-purple    { background-color: #b10dc9; }
.background-maroon    { background-color: #85144b; }
.background-darken05  { background-color: rgba(0,0,0,.05); }
.background-darken10  { background-color: rgba(0,0,0,.10); }
.background-darken15  { background-color: rgba(0,0,0,.15); }
.background-darken20  { background-color: rgba(0,0,0,.20); }
.background-darken25  { background-color: rgba(0,0,0,.25); }
.background-darken30  { background-color: rgba(0,0,0,.30); }
.background-darken40  { background-color: rgba(0,0,0,.40); }
.background-darken50  { background-color: rgba(0,0,0,.50); }
.background-darken60  { background-color: rgba(0,0,0,.60); }
.background-darken75  { background-color: rgba(0,0,0,.75); }
.background-darken85  { background-color: rgba(0,0,0,.85); }

/* Border */
.border-solid-1 { border: 1px solid #000000; }
.border-solid-2 { border: 2px solid #000000; }
.border-solid-3 { border: 3px solid #000000; }
.border-solid-5 { border: 4px solid #000000; }

/* Border Color */
.border-aqua      { border-color: #7fdbff; }
.border-blue      { border-color: #0074d9; }
.border-navy      { border-color: #001f3f; }
.border-teal      { border-color: #39cccc; }
.border-green     { border-color: #2ecc40; }
.border-olive     { border-color: #3d9970; }
.border-lime      { border-color: #01ff70; }
.border-yellow    { border-color: #ffdc00; }
.border-orange    { border-color: #ff851b; }
.border-red       { border-color: #ff4136; }
.border-fuchsia   { border-color: #f012be; }
.border-purple    { border-color: #b10dc9; }
.border-maroon    { border-color: #85144b; }
.border-black     { border-color: #222222; }
.border-grey      { border-color: #aaaaaa; }
.border-lightgrey { border-color: #f5f5f5; }
.border-silver    { border-color: #dddddd; }
.border-white     { border-color: #ffffff; }
.border-darken05  { border-color: rgba(0,0,0,.05); }
.border-darken10  { border-color: rgba(0,0,0,.10); }
.border-darken15  { border-color: rgba(0,0,0,.15); }
.border-darken20  { border-color: rgba(0,0,0,.20); }
.border-darken25  { border-color: rgba(0,0,0,.25); }
.border-darken30  { border-color: rgba(0,0,0,.30); }
.border-darken40  { border-color: rgba(0,0,0,.40); }
.border-darken50  { border-color: rgba(0,0,0,.50); }
.border-darken60  { border-color: rgba(0,0,0,.60); }
.border-darken75  { border-color: rgba(0,0,0,.75); }
.border-darken85  { border-color: rgba(0,0,0,.85); }

/* Border Radius 3 */
.border-radius-3 { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.border-top-radius-3 { -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.border-top-right-radius-3 { -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; border-top-right-radius: 3px; }
.border-right-radius-3 { -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.border-bottom-right-radius-3 { -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; border-bottom-right-radius: 3px; }
.border-bottom-radius-3 { -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.border-bottom-left-radius-3 { -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-left-radius: 3px; }
.border-left-radius-3 { -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.border-top-left-radius-3 { -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; border-top-left-radius: 3px; }

/* Border Radius 5 */
.border-radius-5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.border-top-radius-5 { -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.border-top-right-radius-5 { -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }
.border-right-radius-5 { -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.border-bottom-right-5 { -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px; }
.border-bottom-radius-5 { -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.border-bottom-left-5 { -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; }
.border-left-radius-5 { -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.border-top-left-radius-5 { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; }

/* Border Radius 10 */
.border-radius-10 { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.border-top-radius-10 { -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.border-top-right-radius-10 { -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px; }
.border-right-radius-10 { -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
.border-bottom-right-10 { -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; border-bottom-right-radius: 10px; }
.border-bottom-radius-10 { -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.border-bottom-left-10 { -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px; }
.border-left-radius-10 { -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.border-top-left-radius-10 { -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; }

/* Border Radius 15 */
.border-radius-15 { -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.border-top-radius-15 { -webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px; -moz-border-radius-topleft: 15px; -moz-border-radius-topright: 15px; border-top-left-radius: 15px; border-top-right-radius: 15px; }
.border-top-right-radius-15 { -webkit-border-top-right-radius: 15px; -moz-border-radius-topright: 15px; border-top-right-radius: 15px; }
.border-right-radius-15 { -webkit-border-top-right-radius: 15px; -webkit-border-bottom-right-radius: 15px; -moz-border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; border-top-right-radius: 15px; border-bottom-right-radius: 15px; }
.border-bottom-right-15 { -webkit-border-bottom-right-radius: 15px; -moz-border-radius-bottomright: 15px; border-bottom-right-radius: 15px; }
.border-bottom-radius-15 { -webkit-border-bottom-right-radius: 15px; -webkit-border-bottom-left-radius: 15px; -moz-border-radius-bottomright: 15px; -moz-border-radius-bottomleft: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; }
.border-bottom-left-15 { -webkit-border-bottom-left-radius: 15px; -moz-border-radius-bottomleft: 15px; border-bottom-left-radius: 15px; }
.border-left-radius-15 { -webkit-border-top-left-radius: 15px; -webkit-border-bottom-left-radius: 15px; -moz-border-radius-topleft: 15px; -moz-border-radius-bottomleft: 15px; border-top-left-radius: 15px; border-bottom-left-radius: 15px; }
.border-top-left-radius-15 { -webkit-border-top-left-radius: 15px; -moz-border-radius-topleft: 15px; border-top-left-radius: 15px; }

/* Border Radius 30 */
.border-radius-30 { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.border-top-radius-30 { -webkit-border-top-left-radius: 30px; -webkit-border-top-right-radius: 30px; -moz-border-radius-topleft: 30px; -moz-border-radius-topright: 30px; border-top-left-radius: 30px; border-top-right-radius: 30px; }
.border-top-right-radius-30 { -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px; }
.border-right-radius-30 { -webkit-border-top-right-radius: 30px; -webkit-border-bottom-right-radius: 30px; -moz-border-radius-topright: 30px; -moz-border-radius-bottomright: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; }
.border-bottom-right-30 { -webkit-border-bottom-right-radius: 30px; -moz-border-radius-bottomright: 30px; border-bottom-right-radius: 30px; }
.border-bottom-radius-30 { -webkit-border-bottom-right-radius: 30px; -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomright: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; }
.border-bottom-left-30 { -webkit-border-bottom-left-radius: 30px; -moz-border-radius-bottomleft: 30px; border-bottom-left-radius: 30px; }
.border-left-radius-30 { -webkit-border-top-left-radius: 30px; -webkit-border-bottom-left-radius: 30px; -moz-border-radius-topleft: 30px; -moz-border-radius-bottomleft: 30px; border-top-left-radius: 30px; border-bottom-left-radius: 30px; }
.border-top-left-radius-30 { -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px; }

/* Border Radius 0 */
.unround { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

/* Cursor */
.cursor-crosshair { cursor: crosshair; }
.cursor-help      { cursor: help; }
.cursor-move      { cursor: move; }
.cursor-pointer   { cursor: pointer; }
.cursor-text      { cursor: text; }
.cursor-wait      { cursor: wait; }

/* Misc */
.display-inline { display: inline-block; }
.break-word     { word-wrap: break-word; }
.display-block  { display: block; }
.capitalize     { text-transform: capitalize; }
.lowercase      { text-transform: lowercase; }
.uppercase      { text-transform: uppercase; }
.z-index-1      { z-index: 1; }
.z-index-10     { z-index: 10; }
.z-index-100    { z-index: 100; }
.no-wrap        { white-space: nowrap; }

/* Responsive Styles */
@media (max-width: 767px) {
    .carousel {
        height: 70%; /* increases the carousel height so it looks good on phones */
    }
    .hide-below-768 { display: none; }
}

@media (max-width: 479px) {
    .hide-below-480 { display: none; }
}