/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 1px 15px 40px;
    /*min-height: 568px;*/
    background-color: #fff;
}
.navbar {
    margin-bottom: 0;
}
.navbar-top-links {
    margin-right: 0;
    text-align: right;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 9px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
    background-color: #eee;
}
.sidebar .fa-angle-right, .sidebar .fa-angle-down {
    float: right;
    padding-top: 3px;
}
.sidebar .fa.arrow:before {
    content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li.right .chat-body {
    margin-right: 60px;
}
.chat li .chat-body p {
    margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}
.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}
.login-panel {
    margin-top: 25%;
}
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}
table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}
table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}
.show-grid {
    margin: 15px 0;
}
.huge {
    font-size: 40px;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-green a {
    color: #5cb85c;
}
.panel-green a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.panel-red a {
    color: #d9534f;
}
.panel-red a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}
.panel-yellow a {
    color: #f0ad4e;
}
.panel-yellow a:hover {
    color: #df8a13;
}
.page-header {
    margin: 15px 0 20px 0px;
}
.action_button {
    margin: 0px 5px 15px 0;
    display: inline-block;
}
.table {
    margin-bottom: 0;
}
.table > tbody > tr > td {
    padding: 13px 0 0 15px;
}
.actions-col {
    padding-right: 10px;
}
.table > thead > tr > th {
    padding-left: 15px;
}
.table thead tr .actions-col {
    padding-right: 15px;
}
.table tbody tr .actions-col {
    padding-right: 5px;
    min-width: 150px;
}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th {
    padding: 8px 8px 5px 13px;
}
.radio-group {
    padding-top: 7px;
}
.custom-search-form {
    margin: 8px 0 -12px;
}
.breadcrumb-row {
    padding-top: 15px;
}
ul.breadcrumb li {
    font-size: 24px;
}
.no-top-border {
    border-top: none !important;
}
.navbar-brand {
    padding: 5px;
    float: none;
}
.navbar-brand img {
    height: 40px;
    max-width: 75%;
    padding-top: 8px;
}
.navbar-brand > img {
    display: inline-block;
}
.lang-selection-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}
.listing-displaying {
     margin-bottom: -15px;
     padding-top: 15px;
}
.listing-pagination {
    margin-bottom: -15px;
    padding-top: 10px;
}
.action_button.pagination {
    padding-top: 2px;
}
.gi-2x {
    font-size: 2em;
}
.gi-3x {
    font-size: 3em;
}
.gi-4x {
    font-size: 4em;
}
.gi-5x {
    font-size: 5em;
}

/* Custom Additions */
.group-row {
    padding: 0 15px;
}
output {
    padding: 17px 0 0 5px;
}
fieldset.group-border {
    border: 1px groove #ddd !important;
    padding: 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0 0 0 0 #000;
    box-shadow:  0 0 0 0 #000;
}
fieldset.group-border.sliders .control-label {
    padding-top: 0;
}
fieldset.group-border.sliders .form-group {
    margin-bottom: 18px;
}
legend.group-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 8px;
    border-bottom: none;
    margin-bottom: 0;
}
fieldset.group-border.sliders .form-group:first-of-type {
    margin-top: 20px;
}
.rangeslider__fill {
    background: #337ab7;
}
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.module-access-enabled {
    margin-right: 10px;
}
.input-group,
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: block;
}
.sidebar-search {
    margin-right: 40px;
}
.custom-search-form input,
.custom-search-form .input-group-btn button {
    margin-top: -9px;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 1px 30px 40px;
        border-left: 1px solid #e7e7e7;
    }
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media (max-width: 979px) {
    .radio-group {
        padding-top: 0;
    }
    .sidebar {
        width: 50px;
    }
    #page-wrapper {
        margin: 0 0 0 50px;
    }
    #side-menu li a span {
        display: none;
    }
    .sidebar .nav-second-level li a {
        padding-left: 15px;
    }
    fieldset.group-border.sliders .control-label {
        padding: 0 0 18px 10px;
        margin-top: 0;
    }
    fieldset.group-border.sliders .form-group:first-of-type {
        margin-top: 0;
    }
}

@media (max-width: 880px) {
    .hide-below-desktop {
        display: none;
    }
}

@media (max-width: 767px) {
    .page-header {
        margin: 10px 0 10px -5px;
    }
    .content-row {
        padding: 0 15px !important;
    }
    .AlertSetContainer {
        left: 17px !important;
        top: 100px !important;
        width: 95% !important;
    }
    .hide-on-tablet {
        display: none;
    }
    .content-row {
        padding: 0;
    }
    #side-menu li a span {
        display: inline;
    }
    .sidebar {
        width: 100%;
    }
    .sidebar-search {
        float: left;
        margin-left: 7px;
    }
    #page-wrapper {
        margin: 0px;
    }
    .sidebar .nav-second-level li a {
        padding-left: 37px;
    }
    .table {
        margin: 0 0 0 -5px;
    }
    fieldset.group-border.sliders .control-label {
        padding: 0 0 13px 10px;
    }
    .sidebar-search {
        margin-right: 0px;
    }
    .custom-search-form input,
    .custom-search-form .input-group-btn button {
        margin-top: 0px;
    }
}

@media (max-width: 639px) {
    .AlertSetContainer {
        left: 17px !important;
        top: 100px !important;
        width: 94% !important;
    }
    .hide-below-tablet {
        display: none;
    }
}

@media (max-width: 479px) {
    .AlertSetContainer {
        left: 12px !important;
        top: 100px !important;
        width: 94% !important;
    }
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 319px) {
    .AlertSetContainer {
        left: 18px !important;
        top: 100px !important;
        width: 85% !important;
    }
}