
/* Clients Index Page CSS Styles */

.clients-add-button .btn-lg {
    padding: 8px 16px;
    width: 100%;
}
@media (max-width: 1023px) {
    .clients-add-button .btn-lg {
        margin-bottom: 15px;
    }
}